body {
  background-image: linear-gradient(to bottom right, red, yellow);
  color: white;
  text-align: center;
  font-family: "Cairo";
  font-size: 18px;
  padding-top: 5%;
  word-wrap: break-word;
}

.logo {
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 100%;
  box-shadow: 2px 2px 20px white;
}

.Title {
  text-shadow: 2px 2px 20px white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Address {
  margin: 26px;
}

.WalletInfo {
  width: 500px;
  border: 1px solid red;
  border-radius: 9px;
  box-shadow: 6px 6px 15px grey;
  padding: 1%;
  margin: 10%;
  background-color: white;
  color: black;
  font-weight: bolder;
}

.Block {
  border: 1px solid red;
  border-radius: 9px;
  box-shadow: 6px 6px 15px grey;
  padding: 5%;
  margin: 10%;
  background-color: white;
  color: black;
  font-weight: bolder;
}
